<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>FAQs</title>
</head>

<body>
    <section>
        <nav class="navbar navbar-expand-sm bg-body-secondary ">
            <div class="container-fluid ">
                <ul class="navbar-nav " style="margin-left: 65%;">
                    <a class="nav-link " href="index.html" target="_blank"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="analysis.html" target="_blank">Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="policies.html" target="_blank">Policies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="input_form.html" target="_blank">Intervension</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="faqs.html" target="_blank">FAQs</a>
                    </li>
                </ul>
            </div>
        </nav>

    </section>
    <section>
        <div class="container mt-3">
            <h1 class="text-black"><b>
                    <ul>FAQs</ul>
                </b></h1>
            <p class="text-black"><b>Frequently Asked Questions</b></p>
        </div>
        <div class="m-4">
            <div class="accordion" id="myAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne">1. Does drop out mean fail?</button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <p>Someone can drop out of a school for non-academic reasons while passing all courses with
                                acceptable grades. They could have a death in their family, or suffer a severe accident
                                or illness personally, or run out of money for school and “drop out.” The other two
                                terms mean the same thing.</p>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSixteen">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseSixteen">2. What are the factors affecting students to
                            dropout?</button>
                    </h2>
                    <div id="collapseSixteen" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <p>Often the reason is a combination of several factors. Mouton et al. used latent class
                                analysis to identify dropout students. The results show why students dropout due to
                                relationships with study programs or universities, socioeconomic factors, student
                                performance, academic self-concept, and intention to dropout.</p>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree">3. What happens if a student drops out?</button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <p>The legal sanctions for truancy vary from state to state, but they may include the loss
                                of driving privileges. In some cases, you could get caught up in the juvenile justice
                                system, and your parents could face fines or even criminal charges.</p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour">4. What is the problem of dropout?</button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <p>The lack of parental involvement is a problem that often leads to higher dropout rates,
                                especially with high school students. Parents play an important role when it comes to
                                high school attendance. High school dropouts often have parents who weren't engaged or
                                concerned with their academic success.</p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive">5. Which students are most likely to drop out?</button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <p>Students aged between 24-29 are most likely to drop out of four-year colleges, as 52.5%
                                of them have already left without a degree (What to Become, 2021). Only 30% of these
                                dropouts re-enroll in college to finish their degree (EDI, 2021).</p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix">6. Who is most at risk for school dropout?</button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <p>Family domain
                                Low socioeconomic status.
                                High family mobility.
                                Low education level of parents.
                                Large number of siblings.
                                Not living with both natural parents.
                                Family disruption</p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven">7. Can dropouts succeed in life?</button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <p>If you have the right mindset then you achieve a great succeseful in your life. You must
                                have heard the stories about successful dropouts. These people are the ones who
                                challenged themselves at a very young age. They chose the “not-so-conventional” path to
                                make a name for themselves in the world.</p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseEight">8. What is the difference between dropout and
                            withdrawal?</button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <p>You either drop out, or you withdrawal. Dropping out usually means you are going to get a
                                failing grade and you don't care about it. But primarily, dropping out refers to leaving
                                college life altogether. So if you intend to say that you dropped out of a class, you
                                should use withdrawal.</p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingNine">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseNine">9. What is the reason for dropout in India?</button>
                    </h2>
                    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <p>The high dropout rate in India is caused by several factors, such as poverty, lack of
                                infrastructure, inadequate teaching staff, lack of interest in education, and the
                                prevalence of child labor.</p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTen">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseTen">10. How do you overcome dropouts?</button>
                    </h2>
                    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <p>Rather than waiting until it happens, many strategies exist that parents can use to help
                                their children avoid dropping out.
                                Communicate. ...
                                Talk to them about career realities. ...
                                Don't pressure them to do too much. ...
                                Stay in touch with the school. ...
                                Be supportive and involved. ...
                                Encourage a break, rather than quitting.</p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEleven">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseEleven">11. What is the difference between failure and
                            dropout?</button>
                    </h2>
                    <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <p>School failure occurs when students are not able to complete their work with a passing
                                grade. Truancy is an unexcused absence from school. A dropout happens when the student
                                gives up and withdraws from school without completing the requirements for graduation.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwelve">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwelve">12. Why do so many children dropout from different levels
                            of education in India?</button>
                    </h2>
                    <div id="collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <p>Family And Socio-Economic Needs

                                Divorce or separation of parents also affects the education of children adversely.
                                According to a study by the National Center of Education Statistics, students with low
                                family incomes have the highest dropout rates at 9.4%.</p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThirteen">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseThirteen">13. Why students are not interested in studies in
                            India?</button>
                    </h2>
                    <div id="collapseThirteen" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <p>Distractions and Technology
                                With the rise of smartphones, social media, and various other distractions, students
                                might find it challenging to stay focused on their studies.</p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourteen">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseFourteen">14. What is the problem with dropping out of high
                            school?</button>
                    </h2>
                    <div id="collapseFourteen" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <p>Dropping out of high school has long-term consequences, including reduced employment
                                opportunities, lower earnings, and higher rates of poverty and crime. While many factors
                                can contribute to high school dropout, research indicates that teens face unique
                                challenges that can increase their risk of leaving school early.</p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFifteen">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseFifteen">15. Why do most of the students choose to drop
                            out?</button>
                    </h2>
                    <div id="collapseFifteen" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <p>Many students leave college because they couldn't find a healthy school-work-life
                                balance. The time spent on class lectures, projects, tests and studying prove to be too
                                much. College is a multiyear commitment, and many students drop out because they just
                                don't have that kind of time to complete their degrees.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer>
        <div class="container-fluid bg-dark" id="last">
            <div class="row" style="font-size: 20px; color: aliceblue;">

                <div class="col">
                    <pre>
          <a href="index.html"  class="text-white text-decoration-none">About Us    </a>
          <a href="analysis.html"  class="text-white text-decoration-none">Info   </a>
          <a href="input_form.html"  class="text-white text-decoration-none">Contact Us   </a>
          <a href="faqs.html" class="text-white  text-decoration-none">FAQs  </a></pre>
                </div>

                <div class="col">
                    <pre>
          <a href="index.html"  class="text-white text-decoration-none">Home    </a>
          <a href="analysis.html"  class="text-white text-decoration-none">Analysis    </a>
          <a href="input_form.html"  class="text-white text-decoration-none">Form   </a>
          <a href="faqs.html" class="text-white  text-decoration-none">FAQs  </a></pre>
                </div>


                <div class="col-md-5" style="margin-right: 10%;">

                    Newsletter stay updated with our latest schemes<br>

                    <div class="input-group mt-4">
                        <input type="email" class="form-control" placeholder="Email ">
                        <button class="btn btn-danger" type="EmaiL">Submit</button>
                    </div>

                </div>

            </div>
        </div>

    </footer>


    <!-- Footer -->


</body>

</html>