<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- boostrap link start -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- boostrap link end -->

  <style>
    section b {
      color: rgb(26, 26, 94);
    }
  </style>

  <title>Home</title>
</head>

<body>
  <section>
    <nav class="navbar navbar-expand-sm bg-body-secondary ">
      <div class="container-fluid ">
        <ul class="navbar-nav " style="margin-left: 65%;">
          <a class="nav-link " href="index.html"> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#analysis">Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#plot">plot</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link " href="#schemes">Policies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#Intervension">Intervension</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#faqs">FAQs</a>
          </li>
        </ul>
      </div>
    </nav>

  </section>

  <section>
    <div class="container-sm mt-5">
      <h3 mt-5>Dropuouts</h3>
      <p>
        The cornerstone of a prosperous and empowered society is education. A nation's development depends greatly on
        its level of education. But officials and educators have been quite concerned about dropout rates in Indian
        institutions. Additionally, it is a major problem in many nations across the world, particularly in developing
        nations.<br><br>



        The percentage of pupils who quit school before finishing their level or grade is used to calculate the dropout
        rate. It is a crucial sign of how well the educational system is working. According to the gov.in statistics,
        the total dropout rate in Indian schools is 4.5 percent, which is lower than the figure of 5.5 percent from the
        previous year. However, the rate continues to be a problem, particularly in some areas.
        According to data analysis from gov.in, the secondary level has the greatest dropout rate with 17.5 percent,
        followed by upper primary with 3.7 percent and primary with 4.14 percent. The data also shows that at all
        educational levels, girls drop out at a greater rate than boys.<br><br>




        Boys are more likely than females in all three groups to drop out of school, according to the findings. In
        elementary school, girls drop out at a rate of 3.88 percent on average, compared to 4.36 percent for boys. In
        upper primary, 4.6 percent of females drop out, compared to 3.49 percent of boys. Similar to this, guys drop out
        of secondary school at a rate of 17.41% while girls do so at 16.88%.<br><br>


      </p>
      <h3>Why Students take droupout ?</h3>
      <p>
        Academic Challenges:

        Poor academic performance: Struggling with coursework, low grades, or difficulty keeping up with the curriculum
        can lead to frustration and dropout.<br><br>

        <b>Economic Factors:</b>
        <br><br>

        <strong>Financial limitations:</strong> A lot of students and their families experience financial difficulties
        that make it challenging to fund college. This can cover the price of tuition as well as other educational costs
        like books, uniforms, transportation, and others.</br></br>

        <strong>Having to work:</strong> Some students may leave school in order to support their family or themselves
        financially. Attending education and having to work full- or part-time employment might be
        incompatible.</br></br>

        <b>Family and Social Issues:</b></br></br>

        <strong>Family obligations:</strong> Some students may be required to provide care for younger siblings or sick
        family members, which makes it difficult for them to attend class on a regular basis.</br></br>
        Early marriage or parenthood: Cultural or personal circumstances may influence some students to get married or
        have children early, which may cause them to drop out of school.</br></br>

        <b>Lack of Engagement and Motivation</b></br></br>

        <strong>Lack of interest:</strong> Dropouts can be caused by a lack of interest in learning or a belief that the
        curriculum is irrelevant to one's ambitions.
        <br><br>
        <strong>Disengagement:</strong> Dropout risk may be higher for students who feel cut off from their classmates
        or school activities.
        <br><br>

        <b>Health Concerns:</b><br><br>
        <strong>Physical or mental health issues: </strong>Health difficulties might make it difficult for a student to
        get to class on time and do well in class.<br>

        <br><br>
        <strong>Bullying and harassment:</strong> Some students may decide to leave school to avoid a hostile learning
        environment where they encounter harassment or bullying.
        <br><br>
        <strong>Peer Pressure and Substance Abuse:</strong>
        A student's academic progress may be hampered by involvement in drug misuse or affiliation with friends who
        participate in dangerous behaviour.<br><br>


        <b>Language Issues:</b><br><br>
        <strong>Language barriers:</strong> Students who are not fluent in the language of instruction may struggle to
        grasp coursework and may finally drop out.<br><br>

        <strong>Policies and Procedures at the School:</strong>
        School schedules that are inflexible and do not meet students' demands, such as part-time job or family
        commitments, might contribute to dropout.<br><br>

        <strong>Discipline issues:</strong> Frequent suspensions or expulsions might lead to disengagement and,
        ultimately, dropout.

      </p><br><br>
      <h3>How it affects them ???</h3>
      <p>
        Dropping out of school or other educational programme can have long-term consequences for a student's life.
        These impacts have an impact on their personal, economic, and social well-being.<br><br>

        To begin with, dropping out usually results in low educational achievement. Individuals without a high school
        diploma or a college degree frequently face limited career prospects and inferior earning potential. This can
        lead to financial insecurity, making it difficult to satisfy basic demands, afford healthcare, and maintain a
        decent level of living. It promotes poverty cycles that affect not only the person but also their
        relatives.<br><br>


        Furthermore, the lack of formal education may impede personal growth and self-esteem. It can result in feelings
        of inadequacy as well as missed possibilities for personal development. Education instills critical thinking
        skills, problem-solving ability, and a sense of empowerment in addition to information. Navigating life's
        obstacles gets more difficult without these talents.<br><br>

        Dropout students may endure social shame and prejudice. They frequently feel left out of debates, societies, and
        opportunities that demand a certain degree of knowledge. This social isolation can have a negative impact on
        mental health, resulting in despair, anxiety, and a sense of hopelessness.<br><br>


        Furthermore, limiting access to education might hamper civic involvement and political participation. This can
        have a long-term influence on a community's social cohesiveness and growth.<br><br>

        To summarise, dropping out has long-term implications that go beyond schooling. It has an impact on a person's
        financial prospects, personal growth, mental health, and social integration. To offset these consequences,
        policies and programmes focused at reducing dropouts and assisting those at risk must be implemented. Education
        is not just a fundamental right, but also a pillar of personal and societal advancement.<br><br>

      </p>
      <h3>How to overcome it ..</h3>
      <p>
        Overcoming the difficulties associated with dropping out of school or an educational programme can be a daunting
        endeavour, but it is doable with persistence, support, and a smart approach. Here are some strategies that
        students may use to get back on track:<br /><br />

        <strong>1. Assess the Situation:</strong> Determine why you left in the first place. It is critical to identify
        the core issues, whether academic, economical, or personal.<br /><br />


        <strong> 2. Create Specific Goals:</strong> Create specific educational and career goals. Knowing what you want
        to accomplish will give inspiration and guidance.<br /><br />


        <strong> 3. Explore Alternative Educational Paths: </strong>
        - GED or High School Equivalency: Consider acquiring a General Educational Development (GED) credential or its
        equivalent, which is frequently accepted as a substitute for a high school diploma.
        - Adult Education Programmes: Many localities provide adult education programmes that allow you to finish high
        school in a friendly setting.

        - Online Courses: Investigate online education platforms and courses that provide learners
        flexibility.<br /><br />

        <strong> 4. Seek Direction and Support: </strong> -
        Mentors and Counsellors: Make contact with mentors, school counsellors, or academic advisors who may provide
        guidance and support.
        - Ask for Emotional Support and Encouragement from Friends and Family**: Seek emotional support and
        encouragement from friends and family.<br /><br />



        <strong> 5. Financial Assistance: </strong> Look into financial assistance, scholarships, or grants that might
        help with school expenditures.<br /><br />

        <strong> 6. Time Management and Study abilities: </strong> To thrive academically, develop efficient time
        management and study abilities.<br /><br />

        Rejoining the educational path after dropping out can be challenging, but it is a valuable and achievable goal.
        With determination and the right support system, students can overcome obstacles and work toward a brighter
        academic and career future.
        <br /><br />

      </p>
    </div>
  </section>
  <section>
    <div class="container-sm mt-5 mb-5" id="analysis">
      <h1>Analysis</h1>
      <div class="row">
        <div class="col-sm mt-5"><img src="{{url_for('static', filename='img1.png')}}" alt="graph"> </div>
        <div class="col-sm">High dropout rates in Indian schools are a major concern for policymakers and educators.
          According to government data, the overall dropout rate in India is 4.5%, with the highest dropout rate at the
          secondary level (17.5%). Girls tend to have higher dropout rates than boys at all levels.<br><br>

          State-wise data reveals variations. Some states, like Kerala, have low dropout rates, while others, like
          Arunachal Pradesh, have very high rates, especially for girls. The COVID-19 pandemic may have exacerbated the
          issue.<br><br>

          High dropout rates are problematic because they limit educational attainment and future opportunities. They
          often result from socio-economic factors, poverty, and limited access to quality education. Addressing these
          underlying issues is crucial to reduce dropout rates and ensure all students have a chance to complete their
          education.<br><br>
          <a href="{{ url_for('analysis') }}" class="btn btn-outline-dark">Learn More</a>

        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-sm mt-5 mb-5 " id="Intervension">
      <h1>Intervention</h1>
      <div class="row">
        <div class="col-sm-7">We recognise that educational journeys often take unexpected turns, and that individuals
          may want direction and assistance after taking a hiatus from their studies. If you know someone who has just
          taken a break from their studies and is looking for guidance, please fill out this form to aid them in
          receiving the help they require. Our mission is to give information, tools, and assistance to assist them in
          properly navigating their educational route.<br><br>
          After submitting the form, our organization's devoted team will examine the information given. We will then
          contact the gap year participant as soon as possible to give information, resources, and help depending on
          their requirements and circumstances.<br><br>

          The purpose of this form is to provide essential assistance and guidance to anyone taking a gap year or leave
          of absence, allowing them to make informed decisions and make the most of their time away from their usual
          educational or professional endeavours.<br><br>
          <a href="{{ url_for('form') }}" class="btn btn-outline-dark">Learn More</a>


        </div>
        <div class="col-sm-5 mt-5"><img src="{{url_for('static', filename='img3.jpg')}}" width="85%" alt="interventions"> </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-sm mt-5 mb-5" id="schemes">
      <h1>Government Schemes</h1>
      <div class="row">
        <div class="col-sm-6 mt-5"><img src="{{url_for('static', filename='img5.png')}}" width="70%" alt="schemes">
          <img src="{{url_for('static', filename='img2.webp')}}" width="70%" alt="schemes" style="margin-top: 3%;">
        </div>
        <div class="col-sm">Several government programmes have been established across the world to address the issue of
          school dropout rates and encourage education. For example, in India, the government has created efforts such
          as the "Sarva Shiksha Abhiyan" (SSA) and the "Rashtriya Madhyamik Shiksha Abhiyan" (RMSA). The SSA aspires to
          offer universal primary education by assuring children's enrollment and retention in schools. RMSA is
          dedicated to increasing access to high-quality secondary education and decreasing dropout rates.<br><br>

          These initiatives frequently involve measures such as giving students with free textbooks, uniforms and midday
          meals, as well as building additional schools and recruiting more instructors. Scholarships and financial
          incentives are also available to encourage students to continue their study. In addition, awareness efforts
          are carried out to educate parents and communities about the value of education and the repercussions of
          dropping out.<br><br>


          These government programmes are critical in tackling dropout concerns because they seek to create a welcoming
          learning environment, improve infrastructure, and provide financial assistance to underprivileged students,
          eventually enhancing retention rates and encouraging education for everyone.<br><br>

          <a href="{{ url_for('policy') }}" class="btn btn-outline-dark">Learn More</a>


        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-sm mt-5 mb-5" id="faqs">
      <h1>FAQs</h1>
      <div class="row">

        <div class="col-sm-8">Here are some of the most common answers to queries.<br><br>
          <a href="{{ url_for('faq') }}" class="btn btn-outline-dark">Learn More</a>

        </div>
        <div class="col-sm-4 mt-5 ml-5"><img src="{{url_for('static', filename='img4.jpg')}}" width="60%" alt="schemes">
        </div>
      </div>
  </section>

  <section>
    <div class="container-sm mt-5 mb-5" id="plot">
      <h1>Bar Graph Analysis Per state</h1>
      <div class="row">

        <div class="col-sm-8">Here are some graphical analysis.<br><br>
          <a href="{{ url_for('plot') }}" class="btn btn-outline-dark">PIE chart</a>
      </div>
  </section>

  <footer>
    <!-- Footer -->
    <footer>
      <div class="container-fluid bg-dark" id="last">
        <div class="row" style="font-size: 20px; color: aliceblue;">
          <div class="col">
            <pre>
        <a href="{{ url_for('index') }}"  class="text-white text-decoration-none">Home    </a>
        <a href="{{ url_for('analysis') }}"  class="text-white text-decoration-none">Analysis    </a>
        <a href="{{ url_for('form') }}"  class="text-white text-decoration-none">Form   </a>
        <a href="{{ url_for('faq') }}" class="text-white  text-decoration-none">FAQs  </a></pre>
          </div>


          <div class="col-md-6" style="margin-right: 10%;">

            Newsletter stay updated with our latest schemes<br>

            <div class="input-group mt-4">
              <input type="email" class="form-control" placeholder="Email ">
              <button class="btn btn-danger" type="EmaiL">Submit</button>
            </div>

          </div>

        </div>
      </div>

    </footer>


    <!-- Footer -->
  </footer>

</body>

</html>